.tabela-cobranças-cliente {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-left: 7.5%;
    margin-top: 24px;
    margin-right: 8.5%;
    margin-bottom: 20px;
    flex-direction: column;
    min-width: 50%;
    padding-left: 2%;
    padding-right: 3%;
}
.header-tabela-cobranca-detalhe {
    height: 46px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}
.header-tabela-cobranca-detalhe span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #3F3F55;
}
.header-tabela-cobranca-detalhe button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F8F9;
    background-color: #DA0175;
    border-radius: 10px;
    height: 33px;
    min-width: 23%;
    gap: 4px;
}

.titulo-coluna-cobrancas-detalhe {
    display: flex;
    align-items: center;
    height: 78px;
    color: #3f3f55;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.icone-ordem {
    display: flex;
    justify-content: flex-start;
    gap: 3%;
    cursor: pointer;
}

.titulo-coluna-cobrancas-detalhe-span, .linha-info-cobranca-detalhe {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 16%;
    font-size: 14px;
}

.conteudo-cobrancas-detalhe {
    display: flex;
    flex-direction: column;
}

.linha-info-cobranca-detalhe {
    border-top: 1px solid #EFF0F6;
    min-height: 56px;
    color: #6E6E85;
}

.linha-info-cobranca-detalhe a {
    text-decoration: none;
    color: #3f3f55;
}

.linha-info-cobranca-detalhe-status {
    display: flex;
    min-width: 13%;
}

.descricao-cobranca {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editar-excluir-cobranca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    gap: 36%;
}

.icones-editar-excluir {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icones-editar-excluir span {
    font-size: 8px;
    font-weight: 600;
    color: #747488;
}

.excluir-cobranca-icone span {
    color: #AE1100;
}

.status-cobranca-vencida {
    background-color: #FFEFEF;
    color: #971D1D;
    padding-right: 8%;  
    padding-left: 8%;
    border-radius: 8px;
    font-weight: 600;
    text-align: center
}

.status-cobranca-pendente {
    background-color: #FCF6DC;
    color: #C5A605;
    padding-right: 8%;  
    padding-left: 8%;
    border-radius: 8px;
    font-weight: 600;
}

.status-cobranca-paga {
    background-color: #EEF6F6; 
    color: #1FA7AF;
    padding-right: 8%;  
    padding-left: 8%;
    border-radius: 8px;
    font-weight: 600;
    justify-self: center;
    margin-left: 3%;
}

.info-detalhe-descricao {
    width: 25%;
}