.modal-detalhe-cobranca {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(145, 154, 150, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100px;
    z-index: 2;
    overflow-y: scroll;
    font-family: 'Nunito', sans-serif;
}

.card-detalhe-cobranca {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 600px;
    border-radius: 30px;
    color: #3F3F55;
    padding: 56px 40px;
    gap: 24px;
    position: relative;
}

.fechar-detalhe-cobranca {
    position: absolute;
    right: 4%;
    top: 6%;
    cursor: pointer;
}

.card-detalhe-cobranca h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 16px;
}

.detalhe-vencimento-valor, .detalhe-id-status {
    display: flex;
    gap: 35%;
}

.detalhe-nome, .detalhe-descricao, .detalhe-vencimento, .detalhe-valor, .detalhe-id, .detalhe-status {
    display: flex;
    flex-direction: column;
}

.detalhe-descricao p {
    text-align: justify;
}

.titulo-detalhe {
    font-weight: 700;
    margin-bottom: 8px;
}

.detalhe-status {
    width: 18%;
}

.status-detalhe {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}