.nao-encontrado {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    margin-left: 7.5%;
    margin-top: 20px;
    margin-right: 8.5%;
    margin-bottom: 20px;
    min-width: 50%;
    padding-left: 2%;
    padding-right: 3%;
    padding-bottom: 40px;
}
.nao-encontrado img {
    margin-top: 40px;
}