.nao-encontrado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-left: 7.5%;
    margin-top: 20px;
    margin-right: 8.5%;
    margin-bottom: 20px;
    min-width: 50%;
    min-height: 430px;
    padding: 24px;
}
.nao-encontrado img {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-top: 0;
}